@model UAMovie.Models.ViewModels.SystemInfoAccountUser;
@{
    ViewData["Title"] = "Sign Up";
}
<h2>@ViewData["Title"]</h2>
@{
    if (ViewBag.errorMessage != null)
    {
        <p style="color: red">@ViewBag.errorMessage</p>
    }

    String asterisk = "*";
}

@using (Html.BeginForm("Create", "SystemInfoAccountUser", FormMethod.Post, new { systemInfoAccountUser = Model }))
{
    @asterisk @Html.LabelFor(model => model.user.Username);
    @Html.EditorFor(model => model.user.Username);
    <br />

    @asterisk @Html.LabelFor(model => model.user.EmailAddress);
    @Html.EditorFor(model => model.user.EmailAddress);
    <br />

    @asterisk @Html.LabelFor(model => model.user.Password);
    @Html.EditorFor(model => model.user.Password);
    <br />


    @Html.LabelFor(model => model.info.ManagerPassword);
    @Html.EditorFor(model => model.info.ManagerPassword);

    @Html.HiddenFor(model => model.info.ChildDiscount);
    @Html.HiddenFor(model => model.info.ID);
    @Html.HiddenFor(model => model.info.RefundFee);
    @Html.HiddenFor(model => model.info.SeniorDiscount);
    <input type="submit" value="Create" class="btn btn-default" />

    <p>@asterisk Required</p>


}
<p>
    @Html.ActionLink("Back to Login", "Index", "Home")
</p>
