@model UAMovie.Models.AccountUser

@{
    ViewData["Title"] = "Create User";
}
<h2>Create User</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Username);
    @Html.EditorFor(model => model.Username);
    <br />

    @Html.LabelFor(model => model.EmailAddress);
    @Html.EditorFor(model => model.EmailAddress);
    <br />

    @Html.LabelFor(model => model.Password);
    @Html.EditorFor(model => model.Password);
    <br />

    /*
    @Html.LabelFor(model => model.ManagerPassoword);
    @Html.EditorFor(model => model.ManagerPassword); //FIXME: ManagerPassword belongs to a different field
    */


    <input type="submit" value="Create" class="btn btn-default" />


}

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
