@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Theater theater = UAMovie.Models.Theater.testData()[0];
    Movie movie = UAMovie.Models.Movie.testData()[0];
    CreditCard creditCard = UAMovie.Models.CreditCard.testData()[0];
    TicketOrder order = TicketOrder.testData()[0];
    Showing showing = Showing.testData()[0];
}

<h2>Order Confirmation</h2>

<p>
    <em>@movie.Name</em> (Rated <strong>@movie.AgeRating</strong>, @movie.DurationText)<br />
    @theater.Name<br />
    @theater.StreetNumber @theater.Street<br />
    @theater.City, @theater.State @theater.Zip<br />
    @showing.StartTime.ToLongDateString() at @showing.StartTime.ToLongTimeString()<br />
</p>

<p>
    Cost: @String.Format("{0:C2}", order.Cost)
    <ul>
        <li> @order.AdultTickets Adult Ticket(s)</li>
        <li> @order.ChildTickets Child Ticket(s)</li>
        <li> @order.SeniorTickets Senior Ticket(s)</li>
    </ul>
</p>

<p>
    Order ID: @order.ID
</p>
Back to <a asp-area="" asp-controller="MyAccount" asp-action="Index">main menu</a>

