@model UAMovie.Models.ViewModels.TicketOrderAccountUserViewModel;
@{
    ViewData["Title"] = "Order History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<table>
    <thead>
        <tr>
          <th></th>
          <th>Order ID</th>
          <th>Cost</th>
          <th>Adult Tickets</th>
          <th>Child Tickets</th>
          <th>Senior Tickets</th>
          <th>Status</th>
        </tr>
    </thead>

    @{
        List<TicketOrder> orders = Model.orders;
        foreach (TicketOrder o in orders)
        {
            <tr>
                <td>@Html.ActionLink("Details", "OrderDetails", "TicketOrderAccountUserViewModel",
                                        new { username = Model.username, orderID = o.ID})</td>
                <td>@o.ID</td>
                <td>@String.Format("{0:C2}", o.Cost)</td>
                <td>@o.AdultTickets</td>
                <td>@o.ChildTickets</td>
                <td>@o.SeniorTickets</td>
                <td>@o.Status</td>
            </tr>
        }
    }
</table>

