@model UAMovie.Models.ViewModels.CreditCardAccountUserViewModel;
@{
    ViewData["Title"] = "My Payment Info";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h2>@ViewData["Title"]</h2>

<table>
    <thead>
        <tr>
            <td>Select</td>
            <td>Number</td>
            <td>Holder</td>
            <td>Expiration Date</td>
        </tr>
    </thead>

    @{
        List<CreditCard> cards = Model.savedCards;
        foreach (CreditCard c in cards)
        {
            <tr>
                <td>@Html.ActionLink("Remove", "RemovePaymentInfo", "CreditCardAccountUserViewModel",
                   new {cardNumber = c.CardNumber, username = Model.user.Username})</td>
                <td>@c.CardNumber</td>
                <td>@c.Holder</td>
                <td>@c.ExpirationDate</td>
            </tr>
        }
    }
</table>

Back to @Html.ActionLink("My Account", "Me", "Customer", new { username = Model.user.Username })


