@model UAMovie.Models.ViewModels.TheaterViewModel;
@{
    ViewData["Title"] = "My Preferred Theaters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<table>
    <thead>
        <tr>
            <td>Select</td>
            <td>Name</td>
            <td>Adresss</td>
        </tr>
    </thead>

    @{
        List<Theater> theaters = Model.preferredTheaters;
        foreach (Theater th in theaters)
        {
            <tr>
                <td>
                    @Html.ActionLink("Remove", "RemoveTheater", "MyAccount",
               new {username = Model.userName, theaterID = th.ID})
                </td>
                <td>@th.ID</td>
                <td>
                    @th.StreetNumber @th.Street <br />
                    @th.City , @th.State @th.Zip
                </td>
            </tr>
        }
    }
</table>
Back to @Html.ActionLink("My Account", "Me", "Customer", new { username = Model.userName })

