@model UAMovie.Models.ViewModels.MovieAccountUserViewModel;
@{
    ViewData["Title"] = Model.movie.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    Tuple<Int32, float> reviewStats = UAMovie.Controllers.ReviewController.getAverageRating(Model.movie.Name);
    float average = reviewStats.Item2;


}
@Html.HiddenFor(model => model.user.Username)
@Html.HiddenFor(model => model.user.EmailAddress)

<h2>@ViewData["Title"]</h2>

<p>Average Rating: @String.Format("{0:N1}/5.0", average)</p>

<p> @Html.ActionLink("Write", "WriteReview", "MovieAccountUserViewModel", new { username = Model.user.Username, movieName = Model.movie.Name}) a Review
    | Back to @Html.ActionLink("overview", "GetMovie", "MovieAccountUserViewModel", new { movieAccountUserViewModel = Model, movieName = Model.movie.Name })
</p>


@{
    foreach (Review r in Model.reviews)
    {
        <div class="review-box">
            <p><strong>@r.Title</strong> by @r.Username</p>
            <p>@String.Format("{0}/{1}", r.rating, 5)</p>
            <p>@r.Body</p>
        </div>
    }
}
