@model UAMovie.Models.ViewModels.MovieAccountUserViewModel

@{
    ViewData["Title"] = Model.movie.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<!--TODO: Give a correct form header-->
@using (Html.BeginForm("Create", "Review", FormMethod.Post, new { review = Model }))
{
    @Html.LabelFor(model => model.newReview.rating);
    @Html.DropDownListFor(model => model.newReview.rating, new SelectList(Enumerable.Range(1, 6)), "Select Rating");

    @Html.LabelFor(model => model.newReview.Title);
    @Html.EditorFor(model => model.newReview.Title);
    <br />

    @Html.LabelFor(model => model.newReview.Body);
    @Html.TextAreaFor(model => model.newReview.Body);
}

<input type="submit" value="Create" class="btn btn-default" />
