@model UAMovie.Models.Review;

@{
    ViewData["Title"] = "Write";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Give Review</h2>


<!--TODO: Give a correct form header-->
@using (Html.BeginForm("Create", "Review", FormMethod.Post, new { review = Model }))
{
    @Html.LabelFor(model => model.rating);
    @Html.DropDownListFor(model => model.rating, new SelectList(Enumerable.Range(1, 6)), "Select Rating");

    @Html.LabelFor(model => model.Title);
    @Html.EditorFor(model => model.Title);
    <br />

    @Html.LabelFor(model => model.Body);
    @Html.TextAreaFor(model => model.Body);
}

<input type="submit" value="Create" class="btn btn-default" />

<p>Go back to <a asp-area="" asp-action="Index">reviews</a></p>
