@model UAMovie.Models.ViewModels.TicketOrderViewModel

@{
    ViewData["Title"] = "EnterCardNumber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EnterCardNumber</h2>

<h4>CreditCard</h4>
<hr />

@foreach (CreditCard creditCard in Model.creditCards)
{
    <tr>
        <td>
            @Html.DisplayFor(model => creditCard.CardNumber)
        </td>
        <td>
            @Html.ActionLink("Use Card", "Buy", "TicketOrderViewModel", new { creditCard = creditCard.CardNumber, adultTickets = Model.ticketOrder.AdultTickets, childTickets = Model.ticketOrder.ChildTickets, seniorTickets = Model.ticketOrder.SeniorTickets, userName = Model.userName, theaterID = Model.theaterID, movieName = Model.movieName, showingID = Model.showingID });
        </td>
    </tr>
}

@using (Html.BeginForm("BuyNewCard", "TicketOrderViewModel", FormMethod.Post, new { ticketOrderViewModel = Model }))
{
    @Html.HiddenFor(model => model.ticketOrder.ShowingID);
    @Html.HiddenFor(model => model.userName);
    @Html.HiddenFor(model => model.ticketOrder.SeniorTickets);
    @Html.HiddenFor(model => model.ticketOrder.AdultTickets);
    @Html.HiddenFor(model => model.ticketOrder.ChildTickets);
    @Html.HiddenFor(model => model.ticketOrder.Username);
    @Html.HiddenFor(model => model.theaterID);
    @Html.HiddenFor(model => model.showing.ID);

    @Html.LabelFor(model => model.creditCard.CardNumber);
    @Html.EditorFor(model => model.creditCard.CardNumber);
    <br />

    @Html.LabelFor(model => model.creditCard.CVV);
    @Html.EditorFor(model => model.creditCard.CVV);
    <br />
    @Html.LabelFor(model => model.creditCard.ExpirationDate);
    @Html.EditorFor(model => model.creditCard.ExpirationDate);
    <br />

    @Html.LabelFor(model => model.creditCard.Holder);
    @Html.EditorFor(model => model.creditCard.Holder);
    <br />

    @Html.LabelFor(model => model.creditCard.Saved);
    @Html.EditorFor(model => model.creditCard.Saved);
    <br />








    <input type="submit" value="Create" class="btn btn-default" />


}


